/*HEADER*/
a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18pt;
  font-weight: bold;
  text-decoration: none;
  float: left;
  color: white;
}
.toggle {
  display: none;
}
.drop {
  display: none;
}
.clearfix {
  width: 80%;
  float: right;
}
li {
  list-style-type: none;
}
.clearfix li {
  width: 20%;
  float: left;
  text-transform: uppercase;
}
.slider-main {
  margin-top: 0;
  padding-top: 0;
}
/*ITEMS*/
.item {
  height: 100vh;
  width: 100%;
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: cover;
}
.item .wrapper {
  padding-top: 1pt;
}
.item .headline {
  margin-left: 40%;
  margin-top: 40vh;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30pt;  
  font-weight: 1000;
  /* text-align: center; */
}