/*HEADER*/
a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18pt;
  font-weight: bold;
  text-decoration: none;
  float: left;
  color: white;
}
.toggle {
  display: none;
}
.drop {
  display: none;
}
.clearfix {
  width: 80%;
  float: right;
}
li {
  list-style-type: none;
}
.clearfix li {
  width: 20%;
  float: left;
  text-transform: uppercase;
}